* {
  margin: 0;
  padding: 0;
}

body {

  text-align: center;
  /* background-color:#A1D6E2,; */
  background-color:#355070;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.heading {
  background: rgba(0, 0, 0, 0.047);
  border-bottom: 1px solid white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

input {
  padding: 1%;
  border-radius: 20px;
  background-color: #355070;

}


.checkBoxShow {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.3rem;
  column-gap: 18%;
  color: white;
  min-height: 61vh;
  padding: 3%;
  background-color: #355070;
}

input[type=checkbox]:checked+label {
  text-decoration: line-through;
}

.sortAndClearbtn {
  position: relative;
  display: flex;
  column-gap: 5%;
}

.inputAndBtnDesign {
  background-color: #355070;
  text-align: center;
  padding: 1%;
  border-radius: 10px;
  border: 1px solid white;
}

.btn {
  display: inline-flex;
  width: 100%;
  column-gap: 2%;
}

.form-signin{
  background: rgba(0, 0,0, 0.4);
  padding: 8%;
  border-radius: 40px;
  box-shadow: rgb(208, 226, 246) 0px 20px 30px -10px;
}

.form-signup{
  position: absolute;
  top: 45%;
  border-radius: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:white;
  background: rgba(0, 0,0, 0.4);
  padding: 6%;
  border: 1px solid black;
  box-shadow: rgb(208, 226, 246) 0px 20px 30px -10px;
}

.footer-line{
  background: rgba(0, 0, 0, 0.047);
}
.subheading{
  background: rgba(0, 0,0, 0.4);
  box-shadow: rgba(149, 246, 253, 0.448) 0px 25px 20px -20px;
}
.color{
  background-color: #355070;
  border: 1px solid white;

}
.deletebtn{
  margin-left: 7px;
}
.boyimg{
  filter: drop-shadow(1px 1px 20px white);
}
